.product-list {
    margin-top: 50px;
    max-width: 90vw;
    margin-left: 70px;
  }
  .product-item {
    max-height: 500px;
    max-width: 270px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
   
  }
  .product-item img {
    text-align: center;
  }
  .product-item p {
    margin-left: 11px;
  }
  .plorem {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #3f3f40;
  }
  .precoAntigo {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    text-decoration: line-through;
    margin-bottom: 0;
  }
  .precoAtual {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 0;
  }
  .parcelado {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3f3f40;
  }
  .frete {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #f71963;
  }
  .product-item button {
    height: 44px;
    width: 245px;
    background: #f71963;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto auto 10px 10px;
    border: transparent;
    cursor: pointer;
  }
  .product-item button:hover {
    background-color: rgb(216, 18, 84);
    font-weight: 900;
    font-size: 15px;
  }
  .modal{
    position: fixed;
    z-index: 1; 
    left:450px;
    top:40px;
    width: 400px; 
    height: 400px;
    overflow:auto;
    background-color: #ffffff;
  }
  .botoesModal{
    display:flex;
  }
  .conteudosModal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    max-width: 500px;
    border-radius: 10px;
}
.fecharModal {
  height: 44px;
  width: 90px;
  background: rgb(112, 0, 0);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto auto 10px 10px;
  border: transparent;
  cursor: pointer;
}
.comprarModal {
  height: 44px;
  width: 90px;
  background: green;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 90px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto auto 10px 10px;
  border: transparent;
  cursor: pointer;
}
.nomeModal{
  font-weight: 700;
  font-size:32px;
  text-transform:uppercase;
}
.precoModal{
  font-weight: 700;
  font-size:16px;
}
.hidden{
display: none;
}